[Unit]
Description=A system to manage tabs
After=network.target  # Start after networking is up

[Service]
Type=simple
ExecStart=/home/tylord/.local/bin/mt

[Install]
WantedBy=multi-user.target  # Start during normal system boot
